.sub-header-wrapper {
    padding-block-start: var(--header-state-height);
    /* height: var(--header-tab-height); */
    /* box-sizing: content-box; */
    display: grid;
    align-items: center;
    gap: 14px;
    font-size: var(--font-32, 32px);
    z-index: 1;
    position: relative;
}

.sub-header-wrapper {
    color: var(--color-mode, white);
}

.sub-header-wrapper.bgc-appear {
    background-color: white;
    box-shadow: 0px 4px 8px 0px var(--header-shadow, #cccccc40);
    color: var(--color-mode, black);
}

.sub-header-wrapper.bgc-appear::after {
    content: "";
    display: block;
    width: 464px;
    height: 205px;
    opacity: 0.2;
    background-image: linear-gradient(90deg, var(--header-gradient-1, #d65a98) 0%, var(--header-gradient-2, #faeebe) 100%);
    filter: blur(72px);
    position: absolute;
    top: -74px;
    left: 0;
    animation: header-after-vitality 5s ease-in-out infinite;
}

/* .sub-header-wrapper.dark {
    color: black;
}

.sub-header-wrapper.light {
    color: white;
} */

.sub-header-wrapper.bg-appear {
    /* background-image: url(https://o2.orbitsoft.cn/yh1/uploads/0vbzK6/header_bg.png); */
    background-image: var(--header-bg-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sub-header-wrapper.end {
    /* padding-block-end: calc(var(--header-bg-height, 280px) - (var(--header-state-height) + var(--header-tab-height))); */
}

.sub-header-wrapper.end > .search-wrapper.v1 {
    width: 100%;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
}

.sub-header-wrapper > .icon-visual {
    z-index: 1;
}

.sub-header-title {
    z-index: 1;
    font-weight: 500;
    height: var(--header-tab-height);
    padding-inline-start: 40px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    width: fit-content;
}

.sub-header-icon {
    width: max-content;
    height: var(--header-tab-height);
    display: grid;
    align-items: center;
    padding-inline-start: 40px;
}

.click-circle {
    width: var(--header-tab-bounding-height);
    height: var(--header-tab-bounding-height);
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px 0 #0000001a, 0 2px 6px 0 #0000000f;
}

.click-circle .icon-visual {
    transform: translateX(-2px);
}